.img-fluid {
  height: 350px;
  width: 650px;
}
#LinkedIn,
#resume {
  background-color: midnightblue;
}
#LinkedIn {
  color: white;
}
.bg-primary {
  background-color: lightblue;
}

.d-block {
  color: midnightblue;
}
